body {
    width: 700px;
margin: 0 auto;
    
}

.choice {
    font-size: 20px;
    border: solid lightgray;
    list-style: none;
    padding: 10px 30px;
    width: 700px;
    box-shadow: 1px 3px 1px rgb(241, 241, 241);
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.img {
    display: block;
    margin-left: 370px;
    margin: 0 auto;
}
h3{
    margin-top: 15px;
    margin-bottom: 0;
}
ul{
    padding: 0;
}

.Title {
    font-size: 16px;
    display: inline-block;
}

.Title:after {
    content: "";
    border-bottom: rgb(16, 165, 16) solid 2px;
    display: block;
}

.correct{
    background-color: rgba(21, 141, 221, 0.993);
    color: white;
}


.dis_correct{
    background-color: rgb(255, 60, 0);
    color: white;
}

/* .correct_box{
   background-color: rgb(216, 215, 215);
    padding: 30px 100px;
}
.dis_correct_box{
    background-color: rgb(216, 215, 215);
    padding: 30px 100px;
} */
.result_announcement_correct{
    font-size: medium;
    border-bottom: 3px solid #287dff;
    display: inline-block;
}
.result_announcement_dis_correct{
    font-size: medium;
    border-bottom: 3px solid rgb(255, 60, 0);
    display: inline-block;
}
.answer_container_class{
background-color: rgb(228, 225, 222);
}
.cannot_click{
    pointer-events: none;
}